/*
Author: Raine Tenerelli
Date: 7/8/2019

Notes: what comes after overrides eerything that comes b4
not as long as you pallete
*/

/* editing everything under the body tag*/

.leftbar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.leftbar a {
  display: block;
  text-align: center;
  padding: 16px;
  color: white;
  font-size: 30px;
  padding: 20px;
  transition: 0.6s;
}


.leftbar a:hover{
	padding: 20px 40px;
}

body{
	background-color: rgb(2,31,59);
	color: white;
	font-family: verdana; 
	text-align: center;
}

p{
	margin-right: 250px;
	margin-left: 250px;
}

a{
	color: rgb(78,244,253);
	text-decoration: none;
}


.longmarg{
	font-family: courier;
	margin-top: 300px;
	color: rgb(78,244,253);
	font-size: 18px;

}

nav ul li{
	font-family: courier;
	display: inline-block;
	margin: 20px 30px 20px 30px;
}

footer{
	font-family: courier;
	background: #003366;
	margin-top: 50px;
	padding: 50px;
	margin-bottom: 0px;
}
/* the dot shows that you are referencing a class */